.divlogin {
  padding-block: 5em;
  padding-inline: 2em;
  width: 85%;
  min-height: 600px;
}

.imglogin {
  height: 500px;
  width: 200px;
  border-radius: 25px;
}

.logInTitel{
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  padding-block: 0.8em;
  color: #009688;
}

.logInTitel1{
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  padding-block: 0.2em;
  color: #1e1e1e;
}
.logInPara{
  text-align: center;
  font-size: 0.4em;
  
  padding-block: 0.2em;
  color: #666666;
}


.formlogin {
  display: flex !important;
  justify-content: center !important;
}

.Account {
  padding-top:1em ;
  text-align:center ;
  font-size:20px ;
   color:#6B6B6B ;
}

.Account span {
  color:#009688;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
border-radius: 25px !important;
}

.css-1wnxq3o-MuiButtonBase-root-MuiButton-root{
  border-radius: 25px !important;
  margin-left: 7em !important;
}
